* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: #454545;
	font-family:cambria;
	font-size:20px;
	color: #FAFAFA;
	line-height:120%;
	padding: 2%;
	text-align:justify;
}

#logo{
	width: 200px;
	margin-top:5px;
	margin-left: auto;
	margin-right: auto;
}

#menuBar{
	width:100%;
		
}

#menuBar li {
	list-style-type: none;
	
}

#menuBar li a {
	width:16.66%;
	background:#737373;
	text-decoration: none;
	font-weight: 600;
	color: #FAFAFA;
	border-right: 1px solid #454545;
	margin: 1% auto;
	padding:1%;
	float:left;
	text-align:center;
}
#menuBar li a:hover{
	background: #DADADA;
	color:#454545;
}

.banner{
	width:100%:
}

.banner img {
	width:100%;
	height:auto;
}

h2{
	text-align:center;
	line-height:150%;
}
	
#content{
	width:60%;
	background:#6B6B6B;
	float:left;
	padding:0.5%;
	margin:0.5% 0;
}
#leftContent{

}
#rightContent{}

p{
	text-indent:4%;
}	

.aside{
	width:38%;
	background:#6B6B6B;
	padding:0.5%;
	float:right;
	margin:0.5% 0;
}

#footer{
	width:100%;
	background:#6B6B6B;
	float:left;
	margin:1% auto;
	padding:1%;
}

.one-third{
	width:33.3%;
	float:left;
	padding:1%;
		
}

/*media query begins here */

@media only screen and (max-width:820px){
	#menuBar{
		margin: 1% auto;
	}
	
	#menuBar li a{
		width:33.3%;
		font-size:90%;
		margin-top:0;
		margin-bottom:0;
	}
	
	#content{
		width:100%;
		font-size:90%;
	}
	
	.aside{
		width:100%;
		font-size:90%;
	}
	
	.one-third{
		width:100%;
		font-size:90%;
		margin:1% 0;
		background:#737373;
	}
	
	h2{
		font-size:95%;
	}
	.banner img{
		margin-top:2%;
	}
	
	#menuBar ul li:nth-child(3n) a{
		border-bottom:thin solid #454545;
	}
}

@media only screen and (max-width:580px){
	#menuBar li a{
		width:50%;
		font-size:88%;
	}
	
	.one-third{
		font-size:88%;
	}
	
	h2{
		font-size:95%;
	}
	
	#content{
		font-size:88%;
		padding:2%;
	}
	
	.aside{
		font-size:88%;
		padding:2%;
	}
	
	#menuBar ul li:nth-last-child a{
		border-right:none;
	}
	
	#menuBar ul li:nth-child(even) a{
		border-bottom:thin solid #454545;
	}
}

@media only screen and (max-width:320px){
	#container{
		width:320px;
	}
}